@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&family=Poppins:ital,wght@0,500;0,600;0,700;1,600&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: var(--font-paragrafos);
}
:root {
   --font-title: 'Poppins', sans-serif;
   --font-paragrafos: 'Montserrat', sans-serif;
   --color-primary-body: #48368A;
   --color-secundary-body: #140B24; 
   --color-padrao: aqua;
}
.content{
   padding: 0 2rem;
   max-width: 120rem;
   margin: 0 auto;
}
html{
   font-size: 62.5%;
}
body {
   position: relative;
   background: url(../assets/img/background/bg-body.webp) no-repeat;
   background-size: cover;
   font-size: 1.6rem;
   background-color: var(--color-secundary-body);
   color: white;
   background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6{
   color: var(--color-padrao);
   font-family: var(--font-title);
}
h1{
   font-size: 5rem;
}
h2{
   font-size: 4rem;
}
a{
   text-decoration: none;
   color: inherit;
}
header{
   background-color: rgba(0, 0, 0, 0.377);
   color: white;
   padding: 1rem;
   position: fixed;
   top: 0;
   width: 100vw;
   z-index: 10;
}
header .menu-content {
   height: 5vh;
   max-width: 1200px;
   align-items: center;
   display: flex;
   margin: auto;
   justify-content: space-between;
}
header .menu {
   display: flex;
   gap: 2rem;
}
header .menu li{
   transition: all 300ms ease-in-out;
   padding: 1rem;
}
header .menu li:hover{
   background-color: gray;
}
header .menu-mobile{
   display: none;
   cursor: pointer;
}
header .menu-mobile div{
   margin: 0.8rem;
   width: 3.2rem;
   height: 0.2rem;
   background-color: white;
}
@media (max-width: 800px){
   header .menu li {
      border-bottom: 0.1rem solid black;
   }
   header .menu{
      overflow: hidden;
      transition: all 0.6s ease-in-out;
      padding: 1rem;
      display: block;
      height: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.377);      
      top: 6.5vh;
   }
   header .active{
      height: 25rem;
      visibility: visible;
      overflow-y: auto;
   }
   header .menu-mobile{
      display: block;
   }
}
section{
   min-height: 100vh;
}
section.home{
   position: relative;
   font-size: 3rem;
   flex-direction: column;
   background: url(../assets/img/background/bg-section-my-name.webp) center center no-repeat;
   background-size: cover;
   background-attachment: fixed;
   gap: 2rem;
}
section.home .content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
}
section.home .container-title{
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 4rem 0;
}
section.home .redes-sociais{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   border-radius: 2rem;
   color: white;
   background-color: #4577B0;
}
section.home .redes-sociais img{
   width: 40px;
   height: 40px;
}
@media (max-width:756px) {
   section.home .container-title{
      max-width: 50rem;
   }
}
@media (max-width:450px) {
   section.home, section.home h1 {
     font-size: 2rem;
   }
}
section.about{
   background: url(../assets/img/background/bg-section-biografia.webp) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   flex-wrap: wrap;
}
section.about .content{
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100vw;
}
section.about h2{
   text-align: center;
}
section.about .container-foto {
   display: flex;
   flex-direction: column;
}
section.about div.container-bio{
   background-color: rgba(0, 0, 0, 0.582);
   padding:0 3rem;
   border-radius: 1rem;
   width: 40rem;
   height: 50rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 3rem;
}
@media (max-width: 500px) {
   section.about .container-foto img{
      width: 90vw;
   }
}
@media (max-width: 952px) {
   section.about .content{
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   section.about div.container-bio{
      width: auto;
      height: auto;
   }
}
section.container-projects{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   padding: 2rem 0;
}
section.container-projects h1{
   text-align: center;
   margin: 1rem 0;
}
.container-carousel{
   display: flex;
   max-width: 80rem;
   background-color: rgba(128, 128, 128, 0.342);
   align-items: center;
   padding: 1rem;
   margin: 3rem 0;
}
.container-carousel .seta{
   cursor: pointer;
}
.container-cards{
   margin: 2rem 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.container-cards .card{
   background-color: black;
   color: white;
   width: 20rem;
   height: 274px;
   margin: 1rem;
   border-radius: 1rem;
}
.container-cards .card .card-img{
   position: relative;
   background-color: gray;
   text-align: center;
   display: flex;
   text-transform: uppercase;
   font-size: 1.5rem;
   align-items: center;
   justify-content: center;
   height: 15rem;
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
}
.container-cards #easymoney .card-img{
   background-size: cover;
   background: url(../assets/img/previews-projects/preview-project-easymoney.png) center center; 
}
.container-cards #e-commerce .card-img{
   background: url(../assets/img/previews-projects/preview-project-e-commerce.png); 
   background-size: cover;
}
.container-cards #invasilign .card-img{
   background: url(../assets/img/previews-projects/preview-project-invasalign.webp) center left; 
   background-size: cover;
}
.container-cards #to-do-list .card-img{
   background: url(../assets/img/previews-projects/preview-project-to-do-list.webp) center; 
   background-size: cover;
}
.container-cards #clone-whatsapp .card-img{
   background-size: cover;
}
.container-cards .card .name-project{
   padding: 1rem;
   font-size: 2rem;
   color: var(--color-padrao);
   font-weight: bold;
   text-align: center;
}
.container-cards .card button{
   background-color: orange;
   color: white;
   font-weight: bolder;
   border-radius: 1rem;
   cursor: pointer;
   display: block;
   margin: 2rem auto;
   padding: 1rem;
}
p.more-projects{
   color: gray;
   text-align: center;
}
section.container-projects a.github{
   transition: all 200ms ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20rem;
   margin: 2rem auto;
   gap: 1rem;
   background-color: rgba(128, 128, 128, 0.247);
   padding: 1rem;
   border-radius: 2rem;
   border: 0.2rem solid gray;
}
section.container-projects a.github:hover{
   border: 0.2rem solid aqua;
}
section.container-skills{
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
section.container-skills h1{
   text-align: center;
}
section.container-skills .container-padrao{
   display: flex;
   gap: 2rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 4rem 0;
}
section.container-skills .description-skill{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 4rem 0;   
   gap: 2rem;
}
section.container-skills .description-skill .img-skill{
   display: flex;
   flex-direction: column;
   align-items: center;
}
section.container-skills .description-skill .text-skill{
   overflow: hidden;
   max-width: 80rem;
   text-align: center;
}
section.container-skills .cards-skills{
   width: 90vw;
   max-width: 80rem;
   border-bottom: 0.3rem solid rgb(2, 59, 82);
   display: flex;
   gap: 2rem;
   color: white;
   justify-content: space-evenly;
}
section.container-skills .cards-skills .skill{
   display: flex;
   cursor: pointer;
   flex-direction: column;
   gap: 1rem;
   text-align: center;
   font-size: 1.5rem;
   padding: 1rem;
}
section.container-skills .cards-skills .skill .image-skill{
   display: flex;
   align-items: center;
   justify-content: center;
}
section.container-skills .cards-skills .skill .image-skill img{
   width: 3rem;
}

section.container-skills .skill-html{
   display: none;
}
section.container-skills .skill-css{
   display: none;
}
section.container-skills .skill-js{
   display: none;
}
section.container-skills .skill-git{
   display: none;
}
section.container-skills .skill-github{
   display: none;
}@media (max-width:630px ){
   #card-git{
      display: none;
   }
}

@media (max-width:500px ){
   #card-github{
      display: none;
   }
   section.container-skills .description-skill .text-skill{
      font-size: 1.5rem;
   }
}
section.contacts{
   display: flex;
   align-items: center;
   justify-content: center;
}
section.contacts form{
   position: relative;
   display: flex;
   gap: 2rem;
   flex-direction: column;
   font-size: 2rem;
   background: linear-gradient(100deg, #341b5fe3, #5b2aafe3);
   padding: 3rem;
   border-radius: 2rem;
   width: 50rem;
}
section.contacts form h1{
   text-align: center;
}
section.contacts form input{
   padding: 1rem;
}
section.contacts form button{
   padding: 1rem;
   cursor: pointer;
   background-color: black;
   color: white;
   font-weight: bold;
}
section.contacts form button:hover{
   background-color: rgb(20, 20, 20);
}
@media (max-width: 550px ){
   section.contacts form{
      width: 90vw;
   }

}
footer{
   box-shadow: 1rem 0rem 3rem 4px white;
   padding: 3rem;
   background-color: white;
   color: black;
   border-top-right-radius: 3rem;
   border-top-left-radius: 3rem;
}
footer .content{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 2rem;
}
footer h1{
   font-size: 3rem;
   color: black;
   margin: 2rem 0;
}
footer{
   line-height: 3rem;
}
footer li:hover,
footer p:hover{
   text-decoration: underline;
}
footer .github,
footer .linkedin {
   cursor: pointer;
   display: flex;
   gap: 2rem;
   margin: 1rem 0;
   align-items: center;
}
@media (max-width: 1050px) {
   footer .content{
      font-size: 1.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
}
/* Animação */

[data-anime] {
   opacity: 0;
   transition: 0.3s;
}
[data-anime="left"] {
   transform: translate3d(-100%, 0, 0);
}
[data-anime="right"] {
   transform: translate3d(50px, 0, 0);
}
@media (max-width: 1800px) {
   [data-anime="right"] {
      transform: translate3d(-100%, 0, 0);
   }
}
[data-anime="up"] {
   transform: translate3d(0, 100%, 0);
}
[data-anime].animate{
   opacity: 1;
   transform: translate3d(0, 0, 0);
   transform: translateY(0);
}
.decrease, .grow{
   cursor: pointer;
   transition: 0.3s;
}
.decrease:hover{
   transform: scale(0.9);
}
.grow:hover{
   transform: scale(1.1);
}
/* SENDO DESENVOLVIDO */

/* SENDO DESENVOLVIDO */

